fastapi==0.129.2
uvicorn==0.41.0
psycopg-binary==3.3.3
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.1
stripe==14.3.0
sqlalchemy==2.0.39
alembic==1.14.0
httpx==0.28.1
python-multipart==0.0.20
email-validator==2.3.0
requests==2.32.3
reportlab==4.2.5
lob==4.5.4

# tests
pytest==8.3.4
pytest-asyncio==0.24.0

# Rate limiting middleware
slowapi==0.1.9
PyJWT==2.10.1
APScheduler==3.10.4
